body{
  background-color: white;
}

a {
  color: white;
}

/* style for the header */
.title {
  background-color: #435A7D;
  padding: 50px;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.title-h1 {
  color: #000;
  font-size: 36px;
  font-weight: bold;
  margin: 300;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.puppy-adoption-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style for each individual puppy box */
.puppy-box {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  text-align: center;
  position: relative;
}

/* Style for the puppy's name */
.puppy-name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* Style for the puppy's image */
.puppy-image {
  position: static;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* Style for the adopt button */
.adopt-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  /* background-color: #4CAF50; */
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  /* font-family: 'M PLUS Rounded 1c', sans-serif; */
}

/* Style for the like button */
.like-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #DE7456;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.searchbar {

font-family: 'M PLUS Rounded 1c', sans-serif;



}